/* add your CSS here */
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#wrapper
{
	margin:30px;
	background:grey;
}
#card
{
	margin:0 auto;
	text-align:center;
	padding:13px;
	width:400px;
	border:14px solid black/*#c0c0c0*/;
	background:#ddf;   
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#info
{
	border:15px dotted violet;
	width:auto;
}
#list
{
	text-align:left;
	margin:auto;
	width:275px;	
	border:5px solid green;
	padding:5px;
	list-style:none;
}
.word
{
	background-color:inherit;
	color:red;
}
#name
{
	border:thick solid red;
	font-weight:bold;
	font-size:xx-large;
}
#image
{
	cursor: pointer;
    border: 5px dashed salmon;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #eee;
}
#fact
{
	border:20px dashed salmon;
	font-size:large;
}
#description
{
	border:thick solid blue;
	font-size:1.5em;
}
span
{
	font-weight:bold;
}
.phrase
{
	font-weight: normal;
	font-style:italic;	
}
